@import compass/reset
@import compass/utilities/general/clearfix

html, body
  margin: 0
  padding: 0

h1, h2
  display: none

#container
  +clearfix
  position: relative
  width: 3508px
  height: 2480px
  display: block

.item
  +clearfix
  margin: 0
  padding: 0
  //font-size: 14px
  font-family: monospace
  //margin: 5px
  display: inline-block
  padding: 5px
  background: #eee
