@import compass/reset
@import compass/utilities/general/clearfix

html, body
  margin: 0
  padding: 0
  //font-size: 12px

h2
  font-size: inherit
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace
  font-size: 12px
  padding: 1px
  padding-left: 5px

#container
  position: relative
  width: 3508px
  height: 2480px
  display: block

pre
  white-space: pre-wrap

.item
  margin: 0
  padding: 0
  font-family: monospace
  background: #eee

.edsl
  background: #bbb
  color: black

.spec
  background: black
  color: white

.types
  padding-left: 0
  background: white
  color: black
  border: 2px solid black
